/*html, body, div,  applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body
{
	/*background-color: #a6bae0 !important;*/
}

body ul
{
	list-style: circle inside none;
}

body ol
{
	list-style: decimal inside;

}



/**************************************************************************** BOOTSTRAP ************************************************************************************/
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

/* HERE STARTS THE MAGIC */

header
{
  text-align: center;
  color: #fff;
  background: rgb(36, 66, 110);
  position: fixed;
  width:100%;
  z-index: 1;
  height: 60%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.content-wrapper{
    background-color: white;
    top: 45%;
    min-height: 6%;
    position:absolute;
    z-index: 2;
    width: 100%;
}

/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 125px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name
{
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section
{
    padding: 10px 0;
    padding-top: 40px;
    width: 100%;
		height: 80%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 270px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

/*hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}*/


hr.star-light:after {
    color: #fff;
    background-color: ;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

section.primary h2{
    color: #2c3e50;
    }

section.success{
    background-color: rgb(36, 66, 110);
    color: #fff;
    }

.box
{
  background:#fff;
  transition:all 0.2s ease;
  /*border:2px dashed #dadada;*/
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;

}

.box:hover {
  border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
 	word-wrap: break-word;
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
 	line-height: 200%;
}

.box-no-style
{
  background:#fff;
  transition:all 0.2s ease;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
}

..box-no-style:hover {
  border:2px solid #525C7A;
}

.box-no-style span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box-no-style .box-content {
 	word-wrap: break-word;
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
 line-height: 200%;
}



/*nav.navbar-findcond a { color: #f14444; }*/
nav.navbar-findcond ul.navbar-nav a:not(#notstyl)  { /*color: #f14444*/; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
/*nav.navbar-findcond ul.navbar-nav a:hover,a
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }*/
nav.navbar-findcond ul.navbar-nav a:hover:not(#notstyl) { border-color: black; }
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
/*.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }*/

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 100px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: white; }
.navbar.navbar-inverse .nav-collapse { background-color: white; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px)
{
.navbar .navbar-collapse .navbar-right > li:last-child {/* padding-left: 15px;*/ padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}


.navbar.navbar-default
{

  background-color: white;
  border-radius: 0px;
  border-style:solid;
  border-color: red;
  border-left-style: none;
  border-right-style: none;
}

.navbar-inverse.navbar-nav>li>a
{
  color: black;
}

.paginationcenter
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/*MY CSS*/

@font-face { font-family: aleo; src: url('fonts\aleo-regular-webfont.ttf'); }



.test-title
{
	font-family: aleo ;
}

.box-contents-body
{
	color: black;
	font-size: 16px;
 	font-weight: normal;
	line-height: 180%;
 	font-family: "Courier New", Courier, monospace;

}

.top-cover
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}


.rightborderstyle
{
  margin-top: 1px;
  border: 1px solid black;
}


.btn.btn-default.btn-outline
{
  background-color: white;
}
